
/*
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Playfair Display', serif;
*/
/*--- ****Page**** ---*/

body{
	background-color: rgb(74, 84, 84);
	/*background: url(images/13.jpg) 100% 25px fixed;*/
	}
	.spacer{
		width: 100%;
		height: 10em;
	}

	/*--- Nav Bar ---*/
	.navbar{
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
	}
	.navbar-brand{
		font-size: 30px;
	}
	.links{
		text-align: center;
		font-size: 25px;
		margin-left: 15px;
	}
	.icons{
		float: right;
	}
	.title{
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		font-size: 8em;
		text-shadow: 2px 2px 3px black;
		margin: 0 auto;
	}
	.autoDiv{
		padding: 0;
		margin: 0 auto;
		}
/*------------------------------------ Header ------------------------------------*/
	#header{
		height: 50em;
		margin: 0 auto;
	  	width: 100%;
	  	position: relative;
	  	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	  	padding: 1em 0;
		}
		#header_image{
			padding:100px 0;
			margin: 0 auto;
			height: 25em;
			width: 25em;
			border-radius: 36em;
			background-image: url(images/Nick8x10.png);
			background-size: 120%;
			box-shadow: 0 0 50px rgba(0,0,0,0.8);
		}
		.devnick{
			font-family: 'Lato', sans-serif;
			font-weight: 100;
			font-size: 100px;
			text-shadow: 2px 2px 3px black;
			line-height: 1.1em;
			margin: 0 auto;
			text-align: left;
		}
		.name{
			font-family: 'Lato', sans-serif;
			font-weight: 100;
			font-size: 80px;
			text-shadow: 2px 2px 3px black;
			line-height: 1.1em;
			margin: 0 auto;
			text-align: left;
		}
		.lead{
			font-family: 'Lato', sans-serif;
			font-weight: 100;
			font-size: 30px;
			line-height: 1.1em;
			text-shadow: 2px 2px 3px black;
			margin-left: 10px;
			text-align: left;
		}
		.page-header{
			padding:175px 0;
			font-family: 'Lato', sans-serif;
			font-weight: 100;
		}
		.container{
			color: rgba(232, 230, 230, 0.75);
			/*border: 2px dashed grey;*/
		}

/*------------------------------------ About Me ------------------------------------*/
	#aboutme{
		background: url(images/faders.jpg) 70% 20px fixed;
		height: auto;
		margin: 0 auto;
			width: 100%;
			position: relative;
			box-shadow: 0 0 50px rgba(0,0,0,0.8);
			padding: 1em 0 10em;
		}
		.about_space{
			width: 100%;
			height: 5%;
		}
		.about_left{
			padding: 0;
			margin: 0 auto;
		}
		.about_right{
			padding: 0;
			margin: 0 auto;
		}
		.text{
			width: 100%;
			height: auto;
			background-color: rgba(74, 84, 84, 0.8);
			padding: 1em;
			border-radius: 10px;
			box-shadow: 0 0 20px rgba(0,0,0,0.7);
			}
				.line1{
					font-family: 'Lato', sans-serif;
					font-weight: 100;
					color: rgb(174, 172, 172);
					font-size: 2.5em;
					text-align: center;
				}
					.line2{
						font-family: 'Lato', sans-serif;
						font-weight: 300;
						font-size: 1.8em;
					}
						.line3{
							font-size: 17px;
							font-family: 'Lato', sans-serif;
							font-weight: 200;
						}

.pic{
	margin: 0 auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	background-repeat: no-repeat;
	background-size: cover;
	height: 16em;
	width: 16em;
	border-radius: 30em;
	background: white;
	}
	.bbl{
		margin: 5em auto;
		width: 28em;
		height: 28em;
		border-radius: 30em;
		background: white;
		box-shadow: 0 0 50px rgba(0,0,0,0.8);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.bblRight{
		margin: 0 auto;
		width: 28em;
		height: 28em;
		border-radius: 30em;
		background: white;
		box-shadow: 0 0 50px rgba(0,0,0,0.8);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.pic1{
		background-image: url(images/Nick8x10.png);
		}
		/*.pic2{
			background-image: url(images/calipic.jpg);
			}
			.pic3{
				background-image: url(images/moonmoon.jpg);
				}
				.pic4{
					background-image: url(images/hawkwedding.jpg);
					}
					.pic5{
						background-image: url(images/buddy.jpg);
						}
						.pic6{
							background-image: url(images/hawks.jpg);
							}
							.pic7{
								background-image: url(images/wrigley.jpg);
								}
								.pic8{
									background-image: url(images/baby.jpg);
									}*/
									.pic9{
										background-image: url(images/BBKing.jpg);
										}
										/*.pic10{
											background-image: url(images/board.jpg);
											}*/
											.pic11{
												background-image: url(images/BobbaFettStreetArt.jpg);
												background-position-x:-10em;
												}
												.pic12{
													background-image: url(images/Woodstock.jpg);
													}

													.pic_bottom{
														margin-top: 1.5em;
														}
														.left_col{
															margin: 0 auto;
															padding: 0;
															}
															.right_col{
																margin: 0 auto;
																padding: 0;
																}

	.about_images{
		width: 100%;
		display: flex;
		margin: 0 auto;
		}

			.skills{
				font-family: 'Raleway', sans-serif;
				margin: 0 auto;
				}

				.skills_list{
					width: 85%;
					margin: 0 auto;
					padding: 0;
					background-color: rgba(74, 84, 84, 0.5);
					font-size: 25px;
					font-weight: 100;
					border-radius: 1em;
					}
					.skillz{
						list-style-type: none;
						padding: 0;
						margin: 0 2em 1em 2em;
						font-size: 25px;
						}
						.list_title{
							margin:0 1em;
							padding: 5px;
							border-bottom: 1px white solid;
							font-weight: 100;
							font-size: 40px;
							}

							.skills_images{
								padding: 0;
								/*margin: 0 auto;*/

								}

	.fun{
			font-family: 'Raleway', sans-serif;
			margin-top: 3em;
			}
			.fun_title{
				margin: 10px 1em 0 1em;
				padding: 0;
				border-bottom: 1px white solid;
				font-weight: 100;
				font-size: 40px;
				}
			.fun_list{
				width: auto;
				background-color: rgba(74, 84, 84, 0.8);
				font-size: 25px;
				font-weight: 100;
				border-radius: 1em;
				}
				.fun_images{
					width: 100%;
					display: flex;
					padding: 0;
					margin: 0;
					}
					.fun_ul{
						/*text-align: center;*/
						list-style-type: none;
						/*padding: 5px 0 1em 2em;*/
						/*line-height: 2em;*/
					}
/*------------------------------------ Work ------------------------------------*/
	#work{
		background: url(images/MichAveSouth.jpg) 100% 10px fixed;
		height: 50em;
		margin: 0 auto;
			width: 100%;
			position: relative;
			box-shadow: 0 0 50px rgba(0,0,0,0.8);
			padding: 5em 0;
		}
		.work_title{
			font-family: 'Raleway', sans-serif;
		}
		.worklinks{
			display:flex;
			margin: 1em 2em 0em 2em;
			padding: 0;
		}
		.wrkbtn{
			margin: 0 3em 0 0;
		}
		.mywork{
			display:inline-flex;
			margin: 0 auto;
			font-family: 'Libre Baskerville', serif;
		}
		#visualizeit{
			height: 100%;
			width: 100%;
			z-index: 9999;
			position: fixed;
			top: 250;
			left: 450;
		}
		#trivia{
			height: 100%;
			width: 100%;
			z-index: 9999;
			position: fixed;
			top: 250;
			left: 450;
		}
		.well{
			margin-left: 1em;
			color: black;
			height: auto;
			width: 25em;
			padding: 1em;
		}
		.workpic{
			background-size: cover;
			height: 15em;
			width: 30em;
			margin: 9em 0 0 0;
			padding: 0;
		}
		.Vispic{
			height: 12em;
			width: auto;
			border-radius: 4px;
			margin: 0 auto;
		}
		.triv_pic{
			height: 12em;
			width: auto;
			margin: 0 auto;
			border-radius: 4px;
			background-image: url(images/TriviaBase.png);
		}
		.squawk_pic{
			background-image: url(http://www.placecage.com/c/320/160);
		}
		.show{
			display:block;
		}
		.hide{
			display: none;
		}
/*------------------------------------ Contact ------------------------------------*/
	#contact{
		background: url(images/connect.jpg) 50% 0 fixed;
		height: 50em;
		margin: 0 auto;
			width: 100%;
			position: relative;
			box-shadow: 0 0 50px rgba(0,0,0,0.8);
			padding: 5em 0 0 0;
		}

		#message{
			margin: 0 auto;
		}
		.msg, .sender{
			display: flex;
			margin: 0 auto;
			padding: 1em;
		}
		.form{
			margin: 0 auto;
			color: black;
			display: flex;
		}
		.nameIn{
			width: 14em;
		}
		.senderIn{
			width: 22em;
		}
		.contact_info{
			font-family: 'Lato', sans-serif;
			font-weight: 100;
			border-radius: 1em;
			background-color: rgba(74, 84, 84, 0.8);
		}
		.contact_one{
			border-bottom: 1px white solid;
			font-size: 2em;
			font-family: 'Lato', sans-serif;
			font-weight: 100;
		}
		.contact_left{
			text-align: center;
			margin-top: 5em;
			font-family: 'Raleway', sans-serif;
			font-weight: 100;
			text-shadow: 2px 2px 3px black;
		}
		.sendbtn{float: right;}

		.emailLink{
			color: rgb(51, 122, 183);
			font-weight: 500;
		}
		.contact_txtop{font-size: 3.5em;}
		.contact_txbtm{font-size: 2em;}
/*------------------------------------ Footer ------------------------------------*/
footer{
	background-color: black;
	}
	.foot_links{
	font-family: 'Raleway', sans-serif;
	}
/*------------------------------------ LightBox ------------------------------------*/
#lightboxOverlay{
	width: 100%; height: 600px; display: block;
}
