h3 {
	font-family: 'Amatic SC', serif;
	text-align: center;
	font-size: 60pt;
	margin: 25px 0 25px;
}

img {
	display: block;
	margin: 0 auto;
	width: 200px;
}

button {
	font-family: 'Amatic SC', serif;
	text-align: center;
	font-size: 24pt;
	color: white;
	margin: 0 auto 50px;
	background-color: #2c2c2c;
	border: none;
	outline: none;
	padding: 5px;
	border-radius: 5px;
	display: block;
	cursor: pointer;
}

button:hover {
	background-color: green;
	transition: .4s;
}

div {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 24pt;
	color: #2c2c2c;
	width: 75%;
	margin: 0 auto 25px;
}
